
.navbar {
    background-color: #61b5ff;
    /* Color de fondo de la barra de navegación */
    overflow: hidden;
    position: fixed;
    /* Fijar la barra de navegación en la parte superior */
    width: 100%;
    top: 0;
    z-index: 1000;
}


.navbar a{
    color:white;
}


/* Estilos para la página de subida de logs */

.contenedor {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/*Graficos*/

.accidentes {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.evento{
    height: 94%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fechas{
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.genero{
    width: 100%;
    height: 46vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dias{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ageDistribution{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}