
.navbar {
    background-color: #61b5ff;
    /* Color de fondo de la barra de navegación */
    overflow: hidden;
    position: fixed;
    /* Fijar la barra de navegación en la parte superior */
    width: 100%;
    top: 0;
    z-index: 1000;
}


.navbar a{
    color:white;
}



/* Estilos para la página de subida de logs */

.contenedor {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.first_part{
    height: 100%;
    margin-bottom: 5vh;
}

.semaforizada{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.colonias{
    width: 100%;
    height: 96%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alcaldias{
    width: 100%;
    height: 96%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tipo_interseccion{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.map_container {
    display: block;
    flex-direction: column;
    justify-content: space-between; /* Alinea los elementos al final del contenedor */
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.botones {
    margin-top: auto; /* Empuja los botones hacia la parte inferior */
}

.botones button {
    display: inline block; /* Para que los botones ocupen todo el ancho disponible */
    margin-top: 1vh;
    margin-bottom: 10px; /* Añade un poco de espacio entre los botones */
    padding: 1vh;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #61b5ff;

}
